@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

header {
    background-color:  #015054; /*#051f45; */
    color: white;
    padding: 74px;
    text-align: center;
}
/* Estilos gerais */ 
body {
    font-family: Sour-Gummy; 
    text-align: center;
    transition: background-color 0.5s, color 0.5s;
    margin: 0;
    padding: 0;
}

/* Layout principal */
main {
    margin-top: 120px;
}

/* Tema Claro */
body.claro {
    background-color: #ebf1cf;
    color: black;
}

/* Tema Escuro */
body.escuro {
    background-color: #121212;
    color: #f2f2f2; 
}

/* Estilo do título */
h1 {
    transition: color 0.4s;
}

/* Botão */
button {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #2a959c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}


button:hover {
    background-color: #65faffb4;
}



#sobre-mim {
    display: block;
    background-color: #015054;
    width: 80%;
    margin: 0 auto;
    padding: 40px;
    border-radius: 20px;
    margin-bottom: 40px;
    color: white;
}    

#habilidades {
    background-color: rgb(255, 245, 158);
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 40px;
}


#titulo-habilidades {
    font-size: 28px;
    margin-bottom: 25px;
}


ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 16px;;
}

li {
    background-color:  #5abbc2;
    padding: 8px;
    border-left: 4px solid #015054;
    border-radius: 18px;
    font-size: 16;
    min-width: 250px;
    color: white;
}

li:hover {
    background-color:  #65faffb4;
    transform: translateX(5px);
    transition: all 0.3s ease;
}


#contato{
    background-color: #015054;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 40px;
    color: white;
}    

#contato h3 {
    margin-bottom: 8px;
    font-size:  20px;
}    

#contato p {
    font-size: 16px;
}    

#contato a {
    color: #65faffb4;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    border: 2px solid #65faffb4;
    border-radius: 30px;
    display: inline-block;
    transition: all 0.3s ease;
}    

#contato a:hover {
    background-color: #65faffb4;
    color: #1b263b;
    transform: translateY(-2px);
}    



footer {
    background-color:  rgb(255, 246, 168);
    color:#1b263b;
    text-align: center;
    padding: 2rem;
    width: 100%;
}

footer p {
    font-size: 1rem;
}